<!DOCTYPE html>
<html>
<head>
    <title>EvoteX - Login</title>
</head>
<body>
    <h2>Student Login</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="POST">
        <label>Phone Number:</label><br>
        <input type="text" name="phone" placeholder="Enter 10-digit number" required><br><br>
        <input type="submit" value="Send Token">
    </form>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="container">
    <h2>College Evote System</h2>
    <form method="POST">
        <input type="email" name="email" placeholder="College Email (n8)" required>
        <button type="submit">Generate Token</button>
    </form>
</div>

</body>
</html>
